<link rel="stylesheet" href="./css/normalize.css">
<%= form_with(model: @sample, local: true, url: choose_new_or_edit) do |form| %>
<% if @sample.errors.any? %>
<div id="error_explanation">
  <h2><%= @sample.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @sample.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p><%= notice %></p>
<div class="sample_content">
  <%= form.label :content %>
  <%= form.text_field :content %>
</div>
<%= form.submit value="Update"%>
</form>
<% end %>
<%= link_to "Index", samples_path %>
