<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @sample, url: samples_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content:<%= @sample.content %></p>
  <%= form.submit  "Submit" %>
  <%= form.submit "Back", name: 'back'%>
<% end %>
